@use "./index.scss" as *;

.App {
  @include flex-center;

  gap: 1rem;
  padding: 1rem 0.5rem;

  width: 100%;
  max-width: 400px;
  min-height: 100svh;

  .menu {
    width: 100%;

    & h1 {
      font-size: 4rem;
    }
    
    & form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 100%;

      overflow: hidden;

      border: 1px solid #222;
      border-radius: 5px;

      & input {
        flex: 1;
        padding: 1rem;
        font-size: 1.25rem;

        color: #eee;
        background: #111;
      }
      & button {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem;
        width: 4rem;

        cursor: pointer;

        color: #0af;
        background: #151515;

        & svg {
          font-size: 1.25rem;
        }
      }

      &:has(input:focus) {
        border: 1px solid #333;
      }
    }
  }
  .cards {
    display: grid;
    gap: 0.25rem;

    width: 100%;
  }
}
