// RESET

// Fonts
// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  
  color: #fff;
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-wrap: balance;
}

button,
input,
textarea {
  border: none;
  outline: none;
}

p {
  text-wrap: pretty;
}