.ItemCard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #111;
    border-radius: 5px;

    color: #f5f5f5;
    background: #111;

    & h2 {
        flex: 1;

        padding: 1rem;
        font-size: 1.25rem;

        cursor: pointer;
    }

    & aside {
        display: flex;
        gap: 0.75rem;
        padding: 1rem;

        & svg {
            font-size: 1.25rem;
            color: #ddd;

            &:hover {
                cursor: pointer;
                color: #fff;
            }
        }
    }

    &:hover {
        border: 1px solid #222;
    }
}
.done {
    filter: brightness(0.5);
    & h2 {
        text-decoration-line: line-through;
    }
}
